services:
  postgres:
    image: 'postgres:17-alpine'
    env_file:
      - .env
    volumes:
      - ./Backend/docker-entrypoint-initdb.d/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./Backend/src/main/resources/db/data:/var/lib/postgresql
    ports:
      - "5432:5432"
  backend:
    image: eclipse-temurin:25-jdk-alpine
    platform: linux/amd64
    container_name: anteiku-backend
    working_dir: /app
    volumes:
      - ./Backend:/app
      - ~/.m2:/root/.m2
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      SPRING_DOCKER_COMPOSE_ENABLED: "false"
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    command: ./mvnw clean spring-boot:run -Dspring-boot.run.jvmArguments="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
  frontend:
    build: 
      context: ./Frontend/app_react
      dockerfile: ../Dockerfile
    container_name: anteiku-frontend
    volumes:
      - ./Frontend/app_react:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true

volumes:
  db_data: