services:
  postgres:
    image: 'postgres:latest'
    env_file:
      - .env
    volumes:
      - ./docker-entrypoint-initdb.d/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./src/main/resources/db/data:/var/lib/postgresql
    ports:
      - "5432:5432"