openapi: 3.1.0
info:
  title: Anteiku API
  description: TODO
  version: 1.0.0

servers:
  - url: http://localhost:8080/api
    description: Local HTTP Development Server

paths:
  /users/register:
    post:
      summary: "Registers a new user"
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationDto'
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistrationDto'

  /users/public/{username}:
    get:
      summary: "Get list of users by username"
      operationId: getUsersByUsername
      parameters:
        - name: username
          in: path
          description: "username"
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Successful response returning a list of users"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserPublicDto'

  /users/{id}:
    get:
      summary: "Get user public data by id"
      operationId: getUserById
      parameters:
        - name: id
          in: path
          description: "user id"
          required: true
          schema:
            $ref: '#/components/schemas/UserId'
      responses:
        200:
          description: "Successful! Returns user public data."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublicDto'
        404:
          description: "GG, user not found :("
  /users/me:
    get:
      summary: "Get information about myself"
      operationId: getMe
      responses:
        200:
          description: "Returns user info"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoDto'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /users/check-email:
    get:
      summary: "Check if email is available"
      operationId: checkEmailAvailability
      parameters:
        - name: email
          in: query
          description: "email to check"
          required: true
          schema:
            $ref: '#/components/schemas/UserEmail'
      responses:
        200:
          description: "Returns availability status"
          content:
            application/json:
              schema:
                type: boolean

  /users/check-username:
    get:
      summary: "Check if username is available"
      operationId: checkUsernameAvailability
      parameters:
        - name: username
          in: query
          description: "username to check"
          required: true
          schema:
            type: string
      responses:
        200:
          description: "Returns availability status"
          content:
            application/json:
              schema:
                type: boolean
  /auth/login:
    post:
      summary: "Send authentication request to a server"
      operationId: authenticateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthDto'
      responses:
        200:
          description: "Returns access token"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthResponseDto'
        401:
          $ref: '#/components/responses/UnauthorizedError'

  /auth/refresh:
    post:
      summary: "Refreshes the user's authentication tokens or redirects him to the login page"
      operationId: refreshAuthTokens
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: "User's authentication token"
      responses:
        200:
          description: "Returns cookie with a refreshed authentication token"
          headers:
            set-cookie:
              content:
                text/plain:
                  schema:
                    type: string
          content:
            text/plain:
              schema:
                type: string
        303:
          description: "Refresh token is expired, authentication is required. User will be redirected to the login page"
          headers:
            Location:
              content:
                text/plain:
                  schema:
                    const: "http://0.0.0.0:3000/login" # https://github.com/OAI/OpenAPI-Specification/issues/2512
        401:
          description: "Invalid access token"

  /api/info:
    get:
      summary: "Get info"
      description: "Returns some info. Requires ADMIN role."
      operationId: getAppInfo
      security:
        - oauth2: [ ]
      responses:
        200:
          description: "info retrieved successfully"
          content:
            application/json:
              schema:
                type: object
                properties:
                  app:
                    type: string
                  version:
                    type: string
        401:
          description: "User not authenticated"
        403:
          description: "Forbidden - requires ADMIN role"

components:
  responses:
    UnauthorizedError:
      description: "Access token is missing"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserId:
      type: string
      format: uuid
      description: "User's universally unique identifier"

    Id:
      type: string
      format: uuid
      description: "universally unique identifier"

    UserPassword:
      type: string
      format: password

    UserEmail:
      type: string
      format: email

    UserPublicDto:
      type: object
      description: "Public user data"
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        username:
          type: string
        timestamp:
          type: string
          format: date-time
        role:
          type: string

    UserAuthDto:
      type: object
      description: "User authentication data"
      properties:
        email:
          $ref: '#/components/schemas/UserEmail'
        password:
          $ref: '#/components/schemas/UserPassword'

    UserAuthTokensDto:
      type: object
      description: "User's access+refresh tokens"
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        refreshTokenExpiresAt:
          type: string
          format: date-time

    UserAuthResponseDto:
      type: object
      description: "User and token info"
      properties:
        authTokens:
          $ref: '#/components/schemas/UserAuthTokensDto'
        userInfo:
          $ref: '#/components/schemas/UserInfoDto'

    UserInfoDto:
      type: object
      description: "User general account info"
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        email:
          $ref: '#/components/schemas/UserEmail'
        username:
          type: string
        role:
          type: string

    UserCredentialsDto:
      type: object
      description: "User credentials"
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        email:
          $ref: '#/components/schemas/UserEmail'
        password:
          $ref: '#/components/schemas/UserPassword'

    UserRegistrationDto:
      type: object
      description: "User registration data"
      properties:
        username:
          type: string
        email:
          $ref: '#/components/schemas/UserEmail'
        password:
          $ref: '#/components/schemas/UserPassword'

    UserSessionDto:
      type: object
      description: "User session data"
      properties:
        id:
          $ref: '#/components/schemas/Id'
        userId:
          $ref: '#/components/schemas/UserId'
        refreshToken:
          type: string
          format: jwt
        refreshTokenExpiresAt:
          type: string
          format: date-time
        accessToken:
          type: string
          format: jwt
        accessTokenExpiresAt:
          type: string
          format: date-time
        deviceId:
          $ref: '#/components/schemas/Id'
        createdAt:
          type: string
          format: date-time
        lastActiveAt:
          type: string
          format: date-time
        revoked:
          type: boolean
        revokedAt:
          type: string
          format: date-time