openapi: 3.1.0
info:
  title: Anteiku API
  description: TODO
  version: 1.0.0

servers:
  - url: http://localhost:8080/api
    description: Local HTTP Development Server

paths:
  /users/register:
    post:
      summary: "Registers a new user"
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationDto'
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistrationDto'

  /users/public/{username}:
    get:
      summary: "Get list of users by username"
      operationId: getUsersByUsername
      parameters:
        - name: username
          in: path
          description: "username"
          required: true
          schema:
            type: string
      x-spring-router-regexp:
        username: "[a-zA-Z0-9_-]{1,}"
      responses:
        200:
          description: "Successful response returning a list of users"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserPublicDto'

  /users/{id}:
    get:
      summary: "Get user public data by id"
      operationId: getUserById
      parameters:
        - name: id
          in: path
          description: "user id"
          required: true
          schema:
            $ref: '#/components/schemas/UserId'
      x-spring-router-regexp:
        id: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
      responses:
        200:
          description: "Successful! Returns user public data."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublicDto'
        404:
          description: "GG, user not found :("

# Must be used later to change password/email
#  /users/{id}/???:
#    post:
#      summary: "Save user credentials"
#      operationId: saveUserCredentials
#      requestBody:
#        content:
#          application/json:
#            schema:
#              $ref: '#/components/schemas/UserCredentialsDto'
#      responses:
#        200:
#          description: "User credentials saved"

# Do we even need API for that?
#  /users/{id}/credentials:
#    get:
#      summary: "Get user credentials"
#      operationId: getUserCredentialsById
#      parameters:
#        - name: id
#          in: path
#          description: "user id"
#          required: true
#          schema:
#            $ref: '#/components/schemas/UserId'
#      responses:
#        200:
#          description: "Successful! Returns user credentials kekw."
#          content:
#            application/json:
#              schema:
#                $ref: '#/components/schemas/UserCredentialsDto'
#        404:
#          description: "Credentials not found"

components:
  schemas:
      UserId:
        type: string
        format: uuid
        description: "User's universally unique identifier"

      UserPublicDto:
        type: object
        description: "Public user data"
        properties:
          id:
            $ref: '#/components/schemas/UserId'
          username:
            type: string
          timestamp:
            type: string
            format: date-time

      UserCredentialsDto:
        type: object
        description: "User credentials"
        properties:
          id:
            $ref: '#/components/schemas/UserId'
          email:
            type: string
            format: email
          password:
            type: string
            format: password

      UserRegistrationDto:
        type: object
        description: "User registration data"
        properties:
          username:
            type: string
          email:
            type: string
            format: email
          password:
            type: string
            format: password